
@{
    ViewBag.Title = "ViewRejectedOfferDetails";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<style>
    .image-container {
        /*width: 510px;*/
        height: 360px;
    }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
</style>
<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">




        <!-- Main content -->
        <div class="content-wrapper">

            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Offer Detail</span> - Page</h4>

                        <ul class="breadcrumb position-right">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="task_manager_grid.html">View</a></li>
                            <li class="active">Offer Detail</li>
                        </ul>
                    </div>

                    @*<div class="heading-elements">
                    <a href="#" class="btn bg-blue btn-labeled heading-btn"><b><i class="icon-task"></i></b> Create task</a>
                    <a href="#" class="btn btn-default btn-icon heading-btn"><i class="icon-gear"></i></a>
                </div>*@
                </div>
            </div>

            <!-- Content area -->
            <div class="content">

                <!-- Detached content -->
                <div class="container-detached">
                    <div class="content-detached">

                        @*<div class="text-center content-group text-muted content-divider">
                        <span class="pt-10 pb-10">Yesterday</span>
                    </div>*@

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel border-left-lg border-left-success">
                                    <div class="panel-body">
                                        <div class="row">
                                            <h2><b>User Details</b></h2>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h6 class="no-margin-top"><b>User Name:</b> <span class="no-margin-top">@ViewBag.OfferDetails.FirstName @ViewBag.OfferDetails.MidName @ViewBag.OfferDetails.LastName</span></h6>



                                                <h6 class="no-margin-top">
                                                    <b>City:</b>
                                                    <span class="no-margin-top">@ViewBag.OfferDetails.City</span>


                                                </h6>


                                                <h6 class="no-margin-top"><b>User Signature:</b></h6>
                                                <span>
                                                    <img src="@ViewBag.OfferDetails.UserSignature" width="100%" />
                                                </span>




                                            </div>
                                            <div class="col-md-4">
                                                <h6 class="no-margin-top">
                                                    <b>User Contact:</b>
                                                    @if (!string.IsNullOrEmpty(ViewBag.OfferDetails.UserContact))
                                                    {
                                                        <span class="no-margin-top">@ViewBag.OfferDetails.UserContact</span>


                                                    }
                                                    else
                                                    {
                                                        <span class="no-margin-top">N/A</span>

                                                    }


                                                </h6>

                                                <h6 class="no-margin-top">
                                                    <b>State:</b>
                                                    <span class="no-margin-top">@ViewBag.OfferDetails.State</span>


                                                </h6>

                                            </div>
                                            <div class="col-md-4">
                                                <h6 class="no-margin-top">
                                                    <b>Vehicle Pick Up Address:</b>

                                                    <span class="no-margin-top">@ViewBag.OfferDetails.VehicleAddress</span>

                                                </h6>
                                                <h6 class="no-margin-top">
                                                    <b>Zip Code:</b>
                                                    <span class="no-margin-top">@ViewBag.OfferDetails.ZipCode</span>


                                                </h6>




                                            </div>
                                        </div>
                                        <div class="row">
                                            <h2><b>Car Details</b></h2>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h6 class="no-margin-top"><b>Vin:</b> <span class="no-margin-top">@ViewBag.CarDetails.vin</span></h6>
                                                <h6 class="no-margin-top"><b>Model:</b> <span class="no-margin-top">@ViewBag.CarDetails.Model</span></h6>
                                                <h6 class="no-margin-top"><b>Trans Remove:</b> <span class="no-margin-top">@ViewBag.CarDetails.transRemove</span></h6>
                                                <h6 class="no-margin-top"><b>Does Start:</b> <span class="no-margin-top">@ViewBag.CarDetails.doesStart</span></h6>
                                                <h6 class="no-margin-top"><b>Front Damage:</b> <span class="no-margin-top">@ViewBag.CarDetails.FrontEndDamage</span></h6>
                                                <h6 class="no-margin-top"><b>Right Damage:</b> <span class="no-margin-top">@ViewBag.CarDetails.RightSideDamage</span></h6>
                                                <h6 class="no-margin-top"><b>Damage Severity:</b> <span class="no-margin-top">@ViewBag.CarDetails.DamageSeverity</span></h6>
                                                @*<h6 class="no-margin-top"><b>Repair Cost:</b> <span class="no-margin-top">@ViewBag.CarDetails.RepairCost</span></h6>*@
                                            </div>
                                            <div class="col-md-4">
                                                <h6 class="no-margin-top"><b>Year: </b><span class="no-margin-top">@ViewBag.CarDetails.Year</span></h6>

                                                <h6 class="no-margin-top"><b>Postal:</b> <span class="no-margin-top">@ViewBag.CarDetails.postalCode</span></h6>
                                                <h6 class="no-margin-top"><b>Vehicle Title:</b> <span class="no-margin-top">@ViewBag.CarDetails.Title</span></h6>
                                                <h6 class="no-margin-top"><b>Does Drive:</b> <span class="no-margin-top">@ViewBag.CarDetails.Doesitdrive</span></h6>
                                                <h6 class="no-margin-top"><b>Rear Damage:</b> <span class="no-margin-top">@ViewBag.CarDetails.RearEndDamage</span></h6>
                                                <h6 class="no-margin-top"><b>Flood Fire Damage:</b> <span class="no-margin-top">@ViewBag.CarDetails.FloodOrFireDamage</span></h6>
                                                <h6 class="no-margin-top"><b>Keys Status:</b> <span class="no-margin-top">@ViewBag.CarDetails.HasKey</span></h6>

                                            </div>
                                            <div class="col-md-4 border-left-success">
                                                <h6 class="no-margin-top"><b>Make: </b><span class="no-margin-top">@ViewBag.CarDetails.Make</span></h6>
                                                <h6 class="no-margin-top"><b>OdoMeter Reading </b><span class="no-margin-top">@ViewBag.CarDetails.odometerReadings</span></h6>
                                                <h6 class="no-margin-top"><b>Power Train:</b> <span class="no-margin-top">@ViewBag.CarDetails.powerTrain</span></h6>
                                                <h6 class="no-margin-top"><b>Driveable Status: </b> <span class="no-margin-top">@ViewBag.CarDetails.driveablestatus</span></h6>
                                                <h6 class="no-margin-top"><b>Left Damage:</b> <span class="no-margin-top">@ViewBag.CarDetails.LeftSideDamage</span></h6>
                                                <h6 class="no-margin-top"><b>Part Remove:</b> <span class="no-margin-top">@ViewBag.CarDetails.AnyPartIsRemoved</span></h6>
                                                <h6 class="no-margin-top"><b>Air Bag Status: </b><span class="no-margin-top">@ViewBag.CarDetails.AirbagDeployed</span></h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer panel-footer-condensed">
                                        <div class="heading-elements">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="col-md-6">
                            <div class="panel border-left-lg border-left-info">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h6 class="no-margin-top"><a href="task_manager_detailed.html">#17. Another icon set</a></h6>
                                            <p class="mb-15">A wonderful serenity has taken possession of my entire soul..</p>

                                            <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
                                            <a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>
                                        </div>

                                        <div class="col-md-4">
                                            <ul class="list task-details">
                                                <li>12 November, 2014</li>
                                                <li class="dropdown">
                                                    Priority: &nbsp;
                                                    <a href="#" class="label label-info dropdown-toggle" data-toggle="dropdown">High <span class="caret"></span></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="#"><span class="status-mark position-left bg-danger"></span> Highest priority</a></li>
                                                        <li class="active"><a href="#"><span class="status-mark position-left bg-info"></span> High priority</a></li>
                                                        <li><a href="#"><span class="status-mark position-left bg-primary"></span> Normal priority</a></li>
                                                        <li><a href="#"><span class="status-mark position-left bg-success"></span> Low priority</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Aquincum app</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-footer panel-footer-condensed">
                                    <div class="heading-elements">
                                        <span class="heading-text">Due: <span class="text-semibold">32 hours</span></span>

                                        <ul class="list-inline list-inline-condensed heading-text pull-right">
                                            <li class="dropdown">
                                                <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown">Invalid <span class="caret"></span></a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#">Open</a></li>
                                                    <li><a href="#">On hold</a></li>
                                                    <li><a href="#">Resolved</a></li>
                                                    <li><a href="#">Closed</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Dublicate</a></li>
                                                    <li class="active"><a href="#">Invalid</a></li>
                                                    <li><a href="#">Wontfix</a></li>
                                                </ul>
                                            </li>

                                            <li class="dropdown">
                                                <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
                                                    <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
                                                    <li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
                                                    <li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        </div>

                        <div class="row" id="images_row">



                            @*<div class="col-md-6">
                            <div class="panel border-left-lg border-left-info">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="~/Content/assets/images/login_cover.jpg" style="width: 520px; height: 204px;  border:none;" />

                                    </div>


                                </div>

                            </div>
                        </div>*@

                            @*<div class="col-md-6">
                            <div class="panel border-left-lg border-left-info">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="~/Content/assets/images/login_cover.jpg" style="width: 520px; height: 204px;  border:none;" />

                                    </div>
                                </div>

                            </div>
                        </div>*@

                        </div>



                    </div>
                </div>
                <!-- /detached content -->
                <!-- Footer -->
                <div class="footer text-muted">
                    &copy; 2023. <a href="#">Auto Mobile Car System</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Nodlays</a>
                </div>
                <!-- /footer -->

            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->


    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<script>

    LoadOfferDetail();
    function LoadOfferDetail()
    {
        $.ajax({
            type: 'POST',
            url:  '@Url.Action("GetOfferDetails", "Ajax")',
            dataType: "json",
            data: {
                userDetailId: '@ViewBag.userDetailId'
            },
            success: function (response)

            {
                debugger;

                console.log(response);


                //var imagecolum = `<div class="col-md-6">
                //                <div class="panel border-left-lg border-left-info">
                //                    <div class="row">
                //                        <div class="col-md-12">
                //                            <img src="~/Content/assets/images/login_cover.jpg" style="width: 520px; height: 204px;  border:none;" />

                //                        </div>
                //                    </div>

                //                </div>
                //            </div>`;

                for (var i = 0; i <= response.length; i++)
                {
                    var imagePath = `${response[i].ImagePath}`;
                    var imagecolum = ``;

                    var imageExtensions = /\.(jpg|jpeg|png|gif|bmp)$/i;

                    // Check if the image path matches the pattern
                    if (imageExtensions.test(imagePath)) {

                   //if (CheckPath.indexOf(".jpg") > -1 || CheckPath.indexOf(".png") > -1) {

                        imagecolum = `<div class="col-md-6">
                                <div class="panel border-left-lg border-left-info image-container">
                                    
                                            <img src="${response[i].ImagePath}" style="width: 100%; border:none;" />


                                </div>
                            </div>`
                    }
                    else
                    {

                        imagecolum = `<div class="col-md-6">
                                <div class="panel border-left-lg border-left-info image-container">

<video @*class="w-100"*@ style="width:100%;height:100%" autoplay loop muted controls>
                                    <source src="${response[i].ImagePath}" type="video/mp4" />
                                </video>
</div>
                            </div>`;

                    }

                    

                    $("#images_row").append(imagecolum);


                }


            },
            error: function () {
               // $("#loadImg").hide();

                alert("ajax Failed");
            }



        });

    }

</script>


